#media_gallery [data-media-id]:hover{
    background-color:#efefef;
    cursor:pointer;
}

#media_gallery [data-media-id].checked{
    background-color:#e1f7df!important;
}

#media_gallery .checked-column
{
    vertical-align: middle!important;
}

#media_gallery .checked-column span
{
    color:green;
    visibility:hidden;
}

#media_gallery [data-media-id].checked .checked-column span{
    visibility:visible;
}

.media-form-list ul{
    padding:0;
    margin:0;
    margin-left:-10px;
}

.media-form-list li{
    text-align: center;
    vertical-align: top;
    display:inline-block;
    margin:0 0 10px 0;
    padding-left:10px;
    min-width:120px;
    width:20%;
    float:left;
}

.media-form-list li .box{
    text-align: center;
    vertical-align: middle;
    /*display:inline-block;*/

    background-color:whitesmoke;
}

.media-form-list li hr{
    margin-top: 5px;
    margin-bottom: 5px;
}

.ui-sortable li{
    cursor: move;
}

.invalid-media .img-thumbnail
{
    background-color:#eea236!important;
}

.btn-complete-action{
    display:none;
}

.invalid-media .btn-complete-action{
    display: inline-block;
}

.invalid-media .btn-edit-action{
    display: none;
}

.media-list-incomplete + .media-alert{
    display:block!important;
    clear:both;
}

#pi-media.userSection .container {
    max-width: none;
    width: auto;
}

.ajax-spinner-loader {
    display: block;
    text-align: center;
    margin: 0 auto;
    width: 70px;
}

.media-modal-thumb {
    max-height:none!important;
}

.dataTable{
    width:100%!important;
}

#selectedMediaListModal ul{
    margin:0;
    padding:0;
}

#selectedMediaListModal ul li{
    display:inline-block;
    margin:0;
    padding:0;
    list-style: none;
}

#selectedMediaListModal ul li img{
    display:inline-block;
    margin:0 5px 5px 0;
}