#media_gallery [data-media-id]:hover{
    background-color:#efefef;
    cursor:pointer;
}

#media_gallery [data-media-id].checked{
    background-color:#e1f7df!important;
}

#media_gallery .checked-column
{
    vertical-align: middle!important;
}

#media_gallery .checked-column span
{
    color:green;
    visibility:hidden;
}

#media_gallery [data-media-id].checked .checked-column span{
    visibility:visible;
}

.media-form-list ul{
    padding:0;
    margin:0;
}

.media-form-list li{
    text-align: center;
    vertical-align: middle;
    display:inline-block;
    width:100px;
    height:100px;
    background-color:whitesmoke;
    margin:0 10px 10px 0;
    line-height:100px;
}